.button-panel-component {
  width: 700px;
}

.gr-1,
.gr-2,
.gr-3,
.gr-4,
.gr-5 {
  height: 100px;
  display: flex;
}

.gr-btns {
  height: 100px;
  width: 180px;
  color: black;
  font-size: 2em;
  background-color: #dfdfdf;
  border: 0.5px solid #d0d0d0;
  cursor: pointer;
  font-weight: 400;
}

.gr-btns:hover {
  background-color: #dfdfdf7a;
}

.gr-1 :last-child,
.gr-2 :last-child,
.gr-3 :last-child,
.gr-4 :last-child,
.gr-5 :last-child {
  background-color: #fc8f2f;
}

.zero {
  flex: 0 360px;
}
