.button-panel-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 700px; */
}

.gr-1,
.gr-2,
.gr-3,
.gr-4,
.gr-5 {
  display: flex;
}

.gr-1 :last-child,
.gr-2 :last-child,
.gr-3 :last-child,
.gr-4 :last-child,
.gr-5 :last-child {
  background-color: #fc8f2f;
}

.zero {
  flex: 0 360px;
}

.buttonGroup {
  display: flex;
}
